@charset "utf-8";
/* header
-------------------------------------------------------------------------------- */

body{background-color: #f5f5f5; font-family: "Microsoft YaHei"; line-height: 1;}

.main-content-inner,
.footer-inner{width: 1000px; margin: 0 auto; background-color: #f5f5f5;}
.main-content-inner{padding-bottom: 20px;}

/* nav
-------------------------------------------------------------------------------- */


/* main
-------------------------------------------------------------------------------- */

.bar-module{ margin: 0 10px 10px; padding-top: 20px;}

	/* left-bar-module
	-------------------------------------------------------------------------------- */

	.left-bar-module{ width: 254px; width: 252px\9; float: left;border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7;}
	.head-portrait{ text-align: center; padding-top: 16px; font-size: 0; background-color: white;}
	.head-portrait .face-link{ display: inline-block; width: 59px; height: 59px; position: relative;}
	.head-portrait .face-link .face-img{width: 59px; height: 59px; position: absolute; top: 0; left: 0; z-index: 1;}
	.head-portrait .face-link .portrait-bg{ z-index: 2;width: 59px; height: 59px; position: absolute; top: 0; left: 0;}

	.head-portrait h2{ font-size: 0; font-weight: normal; padding: 10px 0 20px; border-bottom: 1px solid #dddddd;}
	.head-portrait h2 a{ font-size: 16px; color: #333;}

	.bace-info-list { background-color: white; ;}
	.bace-info-list ul{ font-size: 0; padding: 16px 0 20px;}
	.bace-info-list ul li{display: inline-block; width: 64px; padding: 0 10px; font-size: 12px; text-align: center;*float: left;}
	.bace-info-list ul .list-middle{border-left: 1px solid #e3e4e8;border-right: 1px solid #e3e4e8; padding: 0 9px\9;}
	.bace-info-list ul li span{ display: inline-block;width: 100%; padding-bottom: 10px; font-size: 14px; color: #333;}
	.bace-info-list ul li a{ display: inline-block;padding: 6px 8px; background-color: #e3e4e8; border-radius: 4px; color: #999;}
	.bace-info-list ul li a:hover{background-color: #ececec;}

	.bace-info-text{ padding: 0 20px 25px; background-color: white;}
	.bace-info-text h3{ margin: 0 0 10px; font-size: 14px;}
	.bace-info-text p{ margin: 0; font-size: 12px; line-height: 22px; color: #999; height: 66px; overflow: hidden;text-align: justify;}

	.button-link{ padding: 13px; *padding: 12px; font-size: 0;}
	.button-link a{ display: inline-block; *float: left; background-color: #a51417; font-size: 12px; padding: 10px 25px; padding: 10px 22px\9; color: white; border-radius: 4px; margin: 0 8px;}
	.button-link a:hover{ background-color: #b42a2d;}

	/* right-bar-module
	-------------------------------------------------------------------------------- */
	.right-bar-module{ width: 716px; float: right;}
	.right-left,
	.right-right{ width: 353px; width: 351px\9; padding-bottom: 20px; background-color: white; border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7;}
	.right-left{float: left;}
	.right-right{ float: right;}

	.table-title{ height: 48px; line-height: 48px; font-size: 16px; color: white; background-color: #a51417; text-align: center;}
	.table-th{ margin: 0; padding: 0 10px; font-size: 0; background-color: #e3e4e8; height: 30px;}
	.table-th li{ display: inline-block; *float: left; font-size: 12px; height: 16px; line-height: 16px; color: #666; padding: 0 29px; padding: 0 27px\9; margin-top: 7px; color: #666;}
	.table-th-middle{ border-left: 1px solid #c6c6c6; border-right: 1px solid #c6c6c6;}
	.table-list-box{ height: 305px; *height: 312px; overflow: hidden; background-color: white; padding: 0 10px;}
	.table-list-box ul li{border-bottom: 1px dashed #e3e4e8; font-size: 0; height: 32px; clear: both\9; overflow: hidden\9;}
	.table-list-box ul li span{ padding: 0 10px;padding: 0 8px\9; display: inline-block; float: left\9; text-align: left; font-size: 12px; color: #999;height: 32px; line-height: 32px;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;}
	.table-list-box ul li .span-first{ width: 74px;}
	.table-list-box ul li .span-second{ width: 110px;}
	.table-list-box ul li .span-third{ width: 89px;}

	/* ad-module
	-------------------------------------------------------------------------------- */
	.ad-module{ margin: 0 10px 10px;}

	/* props-module
	-------------------------------------------------------------------------------- */
	.props-module{ margin: 0 10px 10px; background-color: white; padding-bottom: 25px;}
	.props-title{ padding: 0 16px; background-color: #a51417;color: white; font-size: 16px; height: 45px; line-height: 45px; margin-bottom: 10px;}
	.props-title a{ color: white;}
	.props-module ul{ background-color: white; font-size: 0;}
	.props-module ul li{ display: inline-block; _display: inline; float: left\9; width: 166px; margin: 0 15px 20px; font-size: 0; text-align: center;}
	.props-module ul li a img{ width: 166px; height: 120px;}
	.props-module ul li p{ text-align: center;color: #999; font-size: 12px;}
	.props-module ul li .buy-link a{ display: inline-block; background-color: #a51417; color: white; font-size: 12px; height: 22px; line-height: 22px; border-radius: 4px; padding: 0 18px;}
	.props-module ul li .buy-link{ padding: 10px 0 4px;}

	/* ticket-module
	-------------------------------------------------------------------------------- */
	.ticket-title{ padding: 0 10px 10px;}
	.ticket-title h2{ height: 64px; background:url("../images/tag.png") no-repeat scroll center top; text-align: center; font-size: 16px; color: white; padding-top: 22px;}
	.ticket-title h2 a{color: white;}
	.ticket-content{ padding: 0 5px;}
	.ticket-left{*display: inline; float: left; width: 371px;width: 369px\9;margin: 0 5px; font-size: 0; background-color: white; border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7;}
	.main-img img{ width: 100%;}
	.ticket-text{ padding: 10px 10px 20px;}
	.ticket-text h4{font-size: 14px; color: #666; margin-bottom: 13px;}
	.ticket-text p{font-size: 12px; color: #999; line-height: 18px; text-align: justify; height: 90px; overflow: hidden;}
	.ticket-right{*display: inline; float: right; width: 609px;}
	.ticket-right ul li{ float: left; width: 193px; width: 191px\9; _display: inline; margin: 0 5px 10px; margin: 0 5px 9px\9; *margin: 0 5px 8px; border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7; background-color: white; font-size: 0;}
	.ticket-right ul li a img{ width: 100%;}
	.ticket-right ul li p{ padding: 4px 6px;}
	.ticket-right ul li p a{ display: inline-block; height: 22px; line-height: 22px; float: right; padding: 0 8px; color: white; font-size: 12px; background-color: #a51417; border-radius: 4px;}
	.ticket-right ul li p span{ float: left; color: #a51417; font-size: 12px; display: inline-block; height: 22px; line-height: 22px;}

	/* main-left-bar
	-------------------------------------------------------------------------------- */
	.content-bar{ margin-top: 12px;}
	.main-left-bar{ width: 688px; float: left; border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7; background-color: white;}
	.border-angle { font-style: normal; border-color: #ca1612 #fff #fff #ca1612; border-style: solid; border-width: 19px 8px; font-size: 0; height: 0; line-height: 0; width: 0; overflow: hidden;}
	
	.main-title{ border-bottom:1px solid #ca1612;}
	.main-title h2 em{ padding: 0 28px 0 15px; display: inline-block; float: left; font-style: normal; height: 38px; line-height: 38px; background-color: #ca1612; color: white; font-size:16px;}
	.main-title h2 .notice-text { float: left;height: 34px; line-height: 34px; font-size: 12px; color: #666;}
	.main-title h2 .notice-text i{ color: #ca1612; font-size: 14px; vertical-align: middle; margin: 0 4px 0 10px;}
	.main-title h2 .border-angle { float: left;}
	.main-title h2 .more-dian { display: inline-block;width: 17px; height: 33px; background: url('../images/dian3.jpg') left center no-repeat; float: right; margin-right: 15px;}
	.info-list{ padding: 12px 16px 0;}
	.main-left-inner .info-list ul{margin-bottom: 24px;}
	.info-list ul li{ position: relative; font-size: 14px; padding-left: 10px; background: url('../images/dian.jpg') left 13px no-repeat; height: 28px; line-height: 28px; overflow: hidden;}
	.info-list ul li span{ position: absolute; right: 0; top: 0; font-size: 12px; color: #666;}
	.main-left-inner .info-list ul li a{ display: inline-block; width: 550px; height: 28px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}


	/* main-right-bar
	-------------------------------------------------------------------------------- */
	.main-right-bar{ width: 300px; width: 302px\9; float: right;}
	.main-right-inner{width: 300px; border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7; background-color: white; margin-bottom: 12px;}

	.bar-title{ padding: 0 15px; border-bottom:1px solid #ca1612;}
	.bar-title h2{ position: relative; height: 33px; line-height: 33px; font-size: 16px; color: #ca1612;}
	.bar-title h2 a{ position: absolute; right: 0; top: 0; display: inline-block;width: 17px; height: 33px; background: url('../images/dian3.jpg') left center no-repeat;}
	
	.info-list-right { padding-bottom: 12px;}
	.info-list-right ul li{ height: 28px;}
	.info-list-right ul li a{ display: inline-block; width: 190px; line-height: 28px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; }
	
	.info-list-ol{padding: 12px 10px 12px}
	.info-list-right ol { font-size: 14px;;}
	.info-list-right ol li{ list-style-type: decimal; list-style-position: inside; position: relative; background: #fff; border: 1px solid #fff; padding: 0 5px;}
	.info-list-right ol li h4{ display: inline;*display: inline-block; font-size:14px;height: 28px; line-height: 28px; overflow: hidden; font-weight: normal; text-align: left;}
	.info-list-right ol li h4 span{ *padding-left: 4px;}
	.info-list-right ol li h4 em{ position: absolute; right: 5px;_right: 15px; top: 0; color: #999; font-style: normal;}
	.ol-content{ padding-bottom: 10px; display: none;}
	.ol-content img{ float: left; width: 78px; height: 78px; border: 1px solid #ddd;}
	.ol-content .ol-text{ float: right; width: 179px; height: 79px; overflow: hidden; font-size: 12px;}
	.ol-content .ol-text a{ color: #333; line-height: 20px; text-align: justify;}

	.ad-image{font-size: 0;}
	.ad-image a img{ width: 100%;}

	/* Elegant demeanour
	-------------------------------------------------------------------------------- */
	.elegant-demeanour{ padding: 15px 5px 40px;}
	.elegant-demeanour ul li{ float: left; margin: 0 10px 40px; width: 206px; *display: inline; *line-height: 0;}
	.info-box{ font-size: 0;}
	.face-link-el{ position: relative; display: inline-block; float: left; width: 78px; height: 78px; overflow: hidden; border: 1px solid #ddd;}
	.face-link-el img{ width: 78px; height: 78px;}
	.face-link-el span{display: inline-block; width: 78px; height: 20px; line-height: 20px; position: absolute; bottom: 0; left: 0; background-color: #a51417; font-size: 12px; color: white; text-align: center;}
	.face-txt{ width: 118px; float: right; font-size: 12px; line-height: 12px;}
	.face-txt p{ font-size: 0;}
	.face-txt h4 a{ display: inline-block; height: 14px; line-height: 14px; width: 118px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
	.face-txt h4{ margin: 4px 0 20px;*margin-top: 0;}
	.face-txt h4 a,
	.face-txt p a,
	.face-txt p span{ font-size: 12px;}
	.face-txt p span{ color: #666;}
	.face-txt p span em{ font-size: 14px; font-style: normal;color: #a51417;}
	.face-txt p .support-link{ background: url('../images/icon_03.jpg') left center no-repeat; margin-right: 10px;}
	.face-txt p .subscribe{ background: url('../images/icon_05.jpg') left center no-repeat;}
	.face-txt p .support-link,
	.face-txt p .subscribe{ color: #a51417; padding-left: 18px; *display: inline-block; *float: left;}
	.face-txt .info-icon{ margin-top: 12px; *clear: both; *overflow: hidden;}
	.face-txt .info-icon a:hover{ color: #a51417; text-decoration: underline;}
	.elegant-demeanour .pagination-content{ margin: 0 10px;}

	/* view-content
	-------------------------------------------------------------------------------- */
	.view-content{ padding: 15px 15px 0;}
	.list-box{ padding-bottom: 20px; margin-bottom: 30px; border-bottom: 1px solid #ddd;font-size: 0;}
	.list-no-img{ width: 100%;}
	.inset{ width: 180px; float: left; margin-right: 12px;}
	.inset a{ display: inline-block; width: 178px; height: 108px; border: 1px solid #ddd; overflow: hidden; font-size: 0;}
	.inset img{ width: 100%;}
	.inset-text{ width: 466px; float: left;}
	.list-no-img .inset-text{ width: 100%;}
	.inset-text h2{ font-size: 0; margin-bottom: 14px; font-weight: normal;}
	.inset-text h2 a{ display: inline-block; width: 466px;height: 20px; font-size: 16px; line-height: 20px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
	.list-no-img .inset-text h2 a{width: 100%;}
	.inset-text h2 a span{ padding-right: 4px;}
	.text-summary{ font-size: 14px; line-height: 22px; color: #666;}
	.text-summary a{ color: #333; font-size: 12px;}
	.text-time{ font-size: 0; padding-top: 8px;}
	.text-time span,
	.text-time a{ font-size: 12px; color: #999;padding-left: 20px; line-height: 20px;}
	.text-time span{background: url('../images/icon_04.jpg') left center no-repeat; display: inline-block; margin-right: 30px;}
	.text-time a{ background: url('../images/icon_06.jpg') left center no-repeat;}
	.text-time a:hover{text-decoration: underline; color: #ca1612;}
	.list-box dl{ margin-top: 15px;}
	.list-box dl dt,
	.list-box dl dd{ float: left;}
	.list-box dl dt{ width: 50px; text-align: left; font-size: 16px; color: #666; padding-top: 6px;}
	.list-box dl dd{ width: 608px; float: right;}
	.list-box dl dd a{ display: inline-block; color: #666; font-size: 12px; padding: 8px 10px; margin: 0 0 10px 10px; border: 1px solid #ca1612;}
	.list-box dl dd a span{ color: #ca1612;}
	.list-box dl dd a:hover{ background-color: #ca1612;}
	.list-box dl dd a:hover span{color: #fff;}

	.view-content .pagination-content{ margin-top: -30px; border: none;}

	/* main-right-inner Tab
	-------------------------------------------------------------------------------- */
	.tab-content-box{ font-size: 0; }
	.tab-title{ width: 100%; border-bottom: 1px solid #ca1612;}
	.tab-title li{ width: 150px; float: left;}
	.tab-title li a{ display: inline-block; width: 100%; height: 34px; text-align: center; font-size: 16px; line-height: 34px; color: #ca1612;}
	.tab-title .active a{ background-color: #ca1612; color: white;}
	.tab-content{ display: none;}
	.tab-active{ display: block;}
	.tab-inner-title{background-color: #f9f9f9;padding: 8px 0; height: 16px; overflow: hidden;}
	.tab-inner-title span,
	.tab-inner-title i{ display: inline-block; font-size: 14px; font-style: normal; float: left; text-align: center;}
	.tab-inner-title span{ width: 148px; color: #666;}
	.tab-inner-title i{ width: 4px; color: #e6e6e6; font-size: 16px;}
	
	.dl-list{ overflow: hidden; padding-bottom: 10px;}
	.dl-list dl{ padding: 10px 0; margin: 0 15px; border-top: 1px dashed #e3e4e8; margin-top: -1px;}
	.dl-list dl dt,
	.dl-list dl dd{ float: left; font-size: 14px; line-height: 28px; color: #666;}
	.dl-list dl dt{ width: 18px; text-align: left;}
	.dl-list dl .best-user{ color: #ca1612;}
	.dl-list dl dd{ width: 117px;}
	.dl-list dl .dl-number{ width: 118px; padding-left: 17px; text-align: center;}
	.dl-list dl dd .list-user-img{ display: inline-block; width: 28px; border: 1px solid #ddd; float: left; font-size: 0; line-height: 0;}
	.dl-list dl dd .list-user-img img{ width: 28px; height: 28px;}
	.dl-list dl dd .list-user-name{ width: 81px; border: none; margin-left: 6px; font-size: 14px;}
	.dl-list dl dd a:hover{ color: #ca1612;}

	.integral-module .tab-content{ display: block;}


	/* gaoshou-content
	-------------------------------------------------------------------------------- */
	.gaoshou-content .tab-title li{ width: 344px;}
	.gaoshou-content .tab-title li a{ color: #333;}
	.gaoshou-content .tab-title .active a{ color: #fff;}
	.gaoshou-content .tab-content table th,
	.gaoshou-content .tab-content table td{ font-size: 12px;}
	.gaoshou-content .tab-content table th{ background-color: #f9f9f9; height: 33px; _line-height: 33px; vertical-align: middle; border-bottom: 1px solid #ddd;}
	.gaoshou-content .tab-content table td{ height: 38px; vertical-align: middle;}
	.gaoshou-content .tab-content table td .ranking{ display: inline-block; background-color: #999999; color: white; min-width: 16px; _width: 16px; padding: 1px 2px; height: 18px; line-height: 18px; border-radius: 2px;}
	.gaoshou-content .tab-content table td .ranking-color{ background-color: #ca1612;}
	.caozuo-icon{ display: inline-block;width: 11px; height: 11px; background: url('../images/caozuo.jpg') left top no-repeat; vertical-align: middle; margin-right: 5px;}
	.gaoshou-content .tab-content table td a:hover{ color: #ca1612; text-decoration: underline;}
	.gaoshou-content .tab-content-box{ min-height: 432px; _height: 432px;}
	.table-pagination .pagination-content{ margin: 20px 15px 0;}




	/* web maket
	-------------------------------------------------------------------------------- */
	.main-max-module{ background: white; padding-bottom: 15px; margin-bottom: 10px; border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7;}
	.info-picture-module{ padding-top: 30px;}
	.info-picture-module ul { font-size: 0;}
	.info-picture-module ul li{ float: left;width: 220px; margin: 0 15px; margin: 0 14px\9; padding-bottom: 20px; _display: inline;}
	.info-picture-module ul li h3{ margin: 15px 0 0; font-size: 0; font-weight: normal; line-height: 26px; height: 26px; text-align: center; background-color: #f9f9f9;}
	.info-picture-module ul li h3 a{ font-size: 12px; color: #666;}
	.table-module tr:hover{background-color: #f9f9f9;}
	.table-module tr:hover .bd-white{background-color: #fff;}
	.table-module tr th{ border-bottom: 1px solid #dcdcdc; height: 34px; line-height: 16px; vertical-align: middle; font-size: 12px; font-weight: normal; background-color: #f9f9f9;}
	.table-module tr td{ border-bottom: 1px solid #ddd; font-size: 12px; height: 44px; line-height: 16px; vertical-align: middle;}
	.table-module tr .bd-white{ border-bottom: 1px solid white;}
	.table-module tr td a:hover{color: #ca1612; text-decoration: underline;}
	
	/* zhichibang
	-------------------------------------------------------------------------------- */
	.table-user-face{ display: inline-block; width: 28px; height: 28px; border: 1px solid #ddd;}
	.table-user-face img{ width: 28px; height: 28px;}
	.zhichi-module .table-module tr td {border: none;}
	.table-module tr td .ranking{ text-align: center; display: inline-block; background-color: #999999; color: white; min-width: 16px; _width: 16px; padding: 1px 2px; height: 18px; line-height: 18px; border-radius: 2px;}
	.table-module tr td .ranking-color{ background-color: #ca1612;}
	.table-pagination0{ margin: 10px 15px 0;}
	.table-pagination0 .pagination-content{border-top:1px solid #ddd;}
	.max-module-box{ padding: 0; margin: 0;}

	/* jifen-yuanbao
	-------------------------------------------------------------------------------- */
	.table-border0-module .tab-title li{ width: 50%;}
	.table-border0-module .tab-title li a{ color: #333;}
	.table-border0-module .tab-title .active a{ color: #fff;}
	.table-border0-module .tab-content table th,
	.table-border0-module .tab-content table td{ font-size: 12px;}
	.table-border0-module .tab-content table th{ background-color: #f9f9f9; height: 33px; _line-height: 33px; vertical-align: middle; border-bottom: 1px solid #ddd;}
	.table-border0-module .tab-content table td{ height: 38px; vertical-align: middle; border: none;}
	.table-border0-module .tab-content table td .ranking{ display: inline-block; background-color: #999999; color: white; min-width: 16px; _width: 16px; padding: 1px 2px; height: 18px; line-height: 18px; border-radius: 2px;}
	.table-border0-module .tab-content table td .ranking-color{ background-color: #ca1612;}
	.caozuo-icon{ display: inline-block;width: 11px; height: 11px; background: url('../images/caozuo.jpg') left top no-repeat; vertical-align: middle; margin-right: 5px;}
	.table-border0-module .tab-content table td a:hover{ color: #ca1612; text-decoration: underline;}
	.table-border0-module .tab-content-box{ min-height: 432px; _height: 432px;}
	.table-pagination .pagination-content{ margin: 20px 15px 0;}

	/* jifen-yuanbao
	-------------------------------------------------------------------------------- */
	.table-border0-module .tab-title .moni{ width: 225px;}
	.table-border0-module .tab-title .shipan{ width: 775px;}
	.table-border0-module .tab-title .shipan a{ position: relative; text-align: left; padding-left: 62px;width: 713px;}
	.table-border0-module .tab-title .shipan a span{position: absolute; right: 15px; top: 0; padding-left: 18px; font-size: 12px; background: url('../images/time_03.png') left center no-repeat;}

	/* his-home
	-------------------------------------------------------------------------------- */
	.left-bar-module{ width: 254px; width: 252px\9; float: left;border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7;}
	.two-bar-module{ margin: 0; padding-top: 20px;}
	.two-bar-module .leftbar-module{ width: 300px;width: 302px\9; float: left;}
	.two-bar-module .leftbar-inner{border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7}
	.two-bar-module .rightbar-module{ width: 688px; float: right;}
	.two-bar-module .head-portrait{ border-bottom: 1px solid #dddddd;}
	.two-bar-module .head-portrait h2{ border-bottom: 0; padding: 10px 0 12px;}
	.icon-heart{ display: inline-block; width: 16px; height: 14px;background: url('../images/heart_03.png') left center no-repeat;}
	.focus-box{ padding-bottom: 20px;}
	.focus-box a{font-size: 14px; color: #ca1612; display: inline-block; padding: 6px 16px; border: 1px solid #ddd; border-radius: 2px;}
	.focus-box a:hover{ text-decoration: underline;}
	.focus-box .icon-heart{ vertical-align: middle; margin-right: 8px;}
	.his-num{ background-color: white; padding: 20px 0 4px;}
	.his-num p{ text-align: center; font-size: 14px; padding-bottom: 16px;}
	.his-num p em{ font-style: normal; color: #ca1612; font-size: 16px; padding: 0 2px;}
	.leftbar-inner{width: 300px; border: 1px solid #d7d7d7\9; box-shadow: 0 1px 3px #d7d7d7; background-color: white; margin-bottom: 12px;}
	.leftbar-inner .black-div{ position: relative;z-index: 2; height: 5px; background-color: white; width: 100%; font-size: 0; line-height: 0;}
	.list-module .list-ul-border{ padding: 0 15px 5px; margin-top: -1px;}
	.list-module .list-ul-border li{border-top: 1px dashed #ddd; padding: 10px 0; font-size: 0;}
	.list-module-img { float: left; display: inline-block; width: 78px; height: 78px; border: 1px solid #ddd; font-size: 0; line-height: 0;}
	.list-module-img img{ width: 78px; height: 78px;}
	.list-module-text{ width: 180px; float: right;}
	.list-module-text h4{ font-weight: normal; font-size: 14px;}
	.list-module-text h4 a{display: inline-block; height: 24px; width: 180px;white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
	.list-module-text p { font-size: 12px;}
	.list-module-text p a{ font-size: 12px; color: #666; line-height: 18px;}
	.list-module-text .list-text-block a{ display: inline-block; height:53px;width: 180px; overflow: hidden;}
	.list-module-text h4 a:hover,
	.list-module-text p a:hover{ color: #ca1612;}
	.list-img-box{ margin: 15px 0 0 15px; padding-bottom: 4px;}
	.list-img-box li{ float: left; width: 80px; margin: 0 15px 0 0; padding-bottom: 12px; text-align: center;*display: inline;}
	.list-img-box li h4{ font-weight: normal;}
	.list-img-box li h4 a{ font-weight: normal; font-size: 12px; color: #666;}
	.list-img-box li h4 a:hover{color: #ca1612;}
	.list-img-box .list-img-link{font-size: 0; line-height: 0; width: 78px; height: 78px; border: 1px solid #ddd; display: inline-block;}
	.list-img-box .list-img-link img{ width: 100%; height: 100%;}
	.his-chicang .table-warning-btn{ background-color: #ca1612; color: white; display: inline-block; padding: 4px 8px; border-radius: 4px;}
	.his-chicang .table-warning-btn:hover{ color: white;}
	.his-history table tr th{ height: 47px;}
	.his-view .inset-text h2 a{ font-weight: bold;}
	.his-view .list-box-last{ padding-bottom: 20px; margin-bottom: 0; border-bottom: 0;}
	.view-module{ padding-bottom: 6px;}
	.text-time .eye-icon{ background: url('../images/eye.jpg') left center no-repeat; margin-left: 30px;}
	.text-time .wifi-icon{ background: url('../images/wifi_03.jpg') left center no-repeat; padding-left: 16px;}
	.history-content{ padding: 15px 0 0;}
	.history-content ul li{ float: left; width: 199px; padding: 0 15px 15px; padding: 0 14px 15px\9; text-align: left;}
	.history-content ul li a{ display: inline-block; width: 192px; height: 30px; line-height: 30px; border: 1px solid #ddd; border-radius: 4px; text-align: center; font-size: 12px; float: left;}
	.history-content ul li a em{ font-style: normal; padding-right: 20px;}
	.history-content ul li a:hover{ background-color: #ca1612; border-color: #ca1612; color: white;}
	.his-info{ padding: 15px 15px 0; padding: 15px 14px 0\9;}
	.his-info-left{ float: left; width: 364px;}
	.his-info-left ul li{ display: inline-block; width: 150px; float: left; width: 167px; float: left; padding: 0 15px 10px 0; font-size: 14px; color: #000;}
	.his-info-left ul li em{ font-style: normal; color: #666;}
	.his-info-left ul li span{color: #ca1612;}
	.his-info-left ul li i{color: #016e0b; font-style: normal;}
	.share-info{ padding-top: 28px;}
	.share-info .daoju{ display: inline-block; font-size: 14px; color: white; height: 30px; line-height: 30px; text-align: center; background-color: #ca1612; width: 110px; float: left; margin-left: 15px;}
	.share-info .daoju:hover{ text-decoration: underline;}
	.share-module{ width: 110px; padding-top: 7px; float: right; font-size: 0; line-height: 16px; margin-right: 40px;}
	.share-module span{ font-size: 14px; color: #999; float: left;}
	.share-module .sina,
	.share-module .weibo{ float: left; display: inline-block; width: 16px; height: 16px; line-height: 16px; background: url('../images/share.jpg') left center no-repeat;}
	.share-module .sina{ margin-right: 6px;}
	.share-module .weibo{ background-position: -22px center;}
	.his-info-right{ float: right; width: 294px;}
	.his-info-right p{font-size: 14px; margin-bottom: 6px; width: 294px; height: 16px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
	.info-img{ padding-top: 30px;}
	.view-module .inset{ margin-right: 10px\9;}



	/* gaoshou-celve
	-------------------------------------------------------------------------------- */
	.celve-container{ padding: 15px 0 0 15px;}
	.celve-container .pagination-content{ margin: 0 15px 0 0;}
	.celve-container ul li{ float: left; width: 321px;margin-right: 15px; padding-bottom: 30px;}
	.peitu{ display: inline-block; width: 78px; height: 78px; line-height: 0; border: 1px solid #ddd; float: left;}
	.peitu img{ width: 100%; height: 100%;}
	.img-right{ width: 232px; float: right; font-size: 12px;}
	.img-right h4 a{ width: 232px; font-size: 14px; font-weight: bold; height: 16px; white-space: nowrap; text-overflow:ellipsis;}
	.img-right h4 a:hover{color: #ca1612;}
	.img-right p{ line-height: 18px; color: #666;}
	.img-right .text-box{height: 232px; height: 36px; overflow: hidden;}
	.small-info{padding-bottom: 4px;}
	.small-info span{width: 125px; float: left;}
	.small-info a{width: 87px; color: #999; float: right;}
	.small-info span,
	.small-info a{ display: inline-block; height: 24px; line-height: 24px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
	.small-info a:hover{color: #ca1612;}
	.small-info span em{ font-size: 14px; color: #ca1612;}
	.chakan{ display: inline-block; height: 16px; line-height: 16px; padding: 0 16px; border: 1px solid #ca1612; border-radius: 2px; color: #ca1612; margin-top: 5px;}
	.chakan:hover{ color: white; background-color: #ca1612;}
	.main-right-inner .black-div{ position: relative; z-index: 2; height: 1px; background-color: white; line-height: 0; font-size: 0;}
	.main-right-inner .list-ul-border{ position: relative; z-index: 1;}
	.list-module-text .dongtai-text{ width: 180px; height: 36px; overflow: hidden; text-align: justify;}
	.list-module-text .dongtai-text a{ color: #ca1612;}
	.list-module-text .dongtai-text .name-text{ color: #0f5fb1;}
	.time-text{ text-align: right;}
	.time-text span{ text-align: right; background: url('../images/icon_04.jpg') left center no-repeat; padding-left: 20px;line-height: 18px; color: #999;}
	.time-text span em{ font-style: normal; padding-right: 10px;}
	.customer-service .service-img{ font-size: 0; line-height: 0;}
	.statement-module{ padding: 20px 15px 20px; border-top: 2px solid #e90408; background-color: #fdfafa;}
	.statement-module h2{ background: url('../images/bg_03.jpg') center center no-repeat; text-align: center; font-size: 16px; font-weight: normal; margin-bottom: 20px;}
	.statement-module p{ font-size: 12px; line-height: 22px; color: #666; text-indent: 24px; text-align: justify;}
 
	/* pagination
	-------------------------------------------------------------------------------- */
	.pagination-content{ text-align: center; font-size: 12px;padding: 20px 0; border-top: 1px solid #ddd;}